---
layout: all-products
---

<div class="container-shop">
  <div class="shop-container">
    <!-- loops through the collection with the categories of mens-shoe -->

    {% for item in site.mens_shoe %}
    {% if item.main %}
    <div class="shop-item">
      <a href="{{ site.baseurl }}{{ item.url }}">
        <img src="{{ site.baseurl }}{{ item.pic-url }}" alt="{{ item.title }}">
        <h4>{{ item.type }}</h4>
        <p>${{ item.price }}</p>
      </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
