---
layout: all-products
---
<div class="shop-container">
  <h2>Clothes</h2>
  <div class="display-shop">
    {% for post in site.categories['mens-clothes'] %}
      {% if post.main == true %}
        <div class="all-products__div">
          <a href="{{ site.baseurl }}{{ post.url }}">
            <img src="{{site.baseurl}}{{ post.pic-url }}" alt="{{ post.title }}">

            <p>${{ post.price }}</p>
            <h4>
              <a href="{{ site.baseurl }}{{ post.url }}">{{post.type}}</a>
            </h4>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <h2>Shoes</h2>
  <div class="display-shop">
    {% for post in site.categories['mens-shoe'] %}
      {% if post.main == true %}
      <div class="all-products__div">
        <a href="{{ site.baseurl }}{{ post.url }}">
          <img src="{{site.baseurl}}{{ post.pic-url }}" alt="{{ post.title }}">

          <p>${{ post.price }}</p>
          <h4>
            <a href="{{ site.baseurl }}{{ post.url }}">{{post.type}}</a>
          </h4>
        </a>
      </div>
      {% endif %}
    {% endfor %}
  </div>

  <h2>Sweater</h2>
  <div class="display-shop">
    {% for post in site.categories['mens-sweater'] %}
      {% if post.main == true %}
      <div class="all-products__div">
        <a href="{{ site.baseurl }}{{ post.url }}">
          <img src="{{site.baseurl}}{{ post.pic-url }}" alt="{{ post.title }}">

          <p>${{ post.price }}</p>
          <h4>
            <a href="{{ site.baseurl }}{{ post.url }}">{{post.type}}</a>
          </h4>
        </a>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
