---
layout: all-products
---

<div class="container-shop">
  <div class="shop-container">
    <!-- loops through all the post with the categories of mens-clothes -->
    {% for post in site.categories['mens-clothes'] %}
      {% if post.main == true %}
      <div class="shop-item">
        <a href="{{ site.baseurl }}{{ post.url }}">
          <img src="{{ site.baseurl }}{{ post.pic-url }}" alt="{{ post.title }}">
          <h4>{{ post.type }}</h4>
          <p>${{ post.price }}</p>
        </a>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
