---
layout: all-products
---

<div class="container-shop">
  <h2>Clothes</h2>
  <div class="shop-container">
    <!-- loops through all the post with the categories of women-clothes -->
    {% for post in site.categories['women-clothes'] %}
      {% if post.main == true %}
        <div class="shop-item">
          <a href="{{ site.baseurl }}{{ post.url }}">
            <img src="{{ site.baseurl }}{{ post.pic-url }}" alt="{{ post.title }}">
            <p>${{ post.price }}</p>
            <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.type }}</a></h4>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <h2>Shoes</h2>
  <div class="shop-container">
    <!-- loops through all the post with the categories of women-shoe -->
    {% for post in site.categories['women-shoe'] %}
      {% if post.main == true %}
        <div class="shop-item">
          <a href="{{ site.baseurl }}{{ post.url }}">
            <img src="{{ site.baseurl }}{{ post.pic-url }}" alt="{{ post.title }}">
            <p>${{ post.price }}</p>
            <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.type }}</a></h4>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <h2>Sweater</h2>
  <div class="shop-container">
    <!-- loops through all the post with the categories of women-sweater -->
    {% for post in site.categories['women-sweater'] %}
      {% if post.main == true %}
        <div class="shop-item">
          <a href="{{ post.url }}">
            <img src="{{ site.baseurl }}{{ post.pic-url }}" alt="{{ post.title }}">
            <p>${{ post.price }}</p>
            <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.type }}</a></h4>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
