---
layout: all-products
---

<!-- loops through all the post with the categories of sweater -->

<section class="all-products">
  {% for post in site.categories['women-sweater'] %}
    {% if post.main == true %}
    <div class="all-products__div">
      <a class="all-products__a" href="{{ site.baseurl }}{{ post.url }}">
        <img class="all-products__img" src="{{ post.pic-url }}" alt="{{ post.title }}">
        <p class="all-products__p">
          <a href="{{ site.baseurl }}{{ post.url }}">{{post.type}}</a>
        </p>
        <p class="all-products__price">${{ post.price }}</p>
      </a>
    </div>
    {% endif %}
  {% endfor %}
</section>
