---
layout: all-products
---

<div class="container-shop">
  <div class="shop-container">
    <!-- loops through all the post with the categories of women-clothes -->
    {% for post in site.categories['women-clothes'] %}
      {% if post.main == true %}
        <div class="shop-item">
          <a href="{{ site.baseurl }}{{ post.url }}">
            <img src="{{ post.pic-url }}" alt="{{ post.title }}">
            <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.type }}</a></h4>
            <p>${{ post.price }}</p>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
