---
layout: default
---
<header>
  {% include nav.html %}
</header>
{% include sub-nav-shop.html %}
  <div class="whole-side">
    <div class="left-side">
      {% for post in site.posts %}
      {% if post.main == true %}
      {% if page.url contains post.type %}
      <img id="big-img" src="{{site.baseurl}}{{ post.pic-url }}" alt="">
      {% endif %}
      {% endif %}
      {% endfor %}
    </div>
    <div class="right-side">

      {% for post in site.posts %}
      {% if post.main == true %}
      {% if page.url contains post.type %}
      <p>${{ post.price }}</p>
      <h2>{{ post.type }}</h2>
      {% endif %}
      {% endif %}
      {% endfor %}

      <!-- loops through post and loads all the other images -->

      <div class="variety-list">
        {% for post in site.posts %}
        {% if page.url contains post.type %}
        <div>
          <p>{{ post.title }}</p>
          <img class="product__small" src="{{site.baseurl}}{{ post.pic-url }}" alt="{{ post.title }}">
        </div>
        {% endif %}
        {% endfor %}
      </div>


      <!-- snipcart additions to quantity and size -->
      <div class="product__view">
        <p>size</p>

        {% if page.url contains 'shoe' %}
        <select id="my-size">
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
        </select>
        {% else %}
        <select id="my-size">
          <option>Small</option>
          <option>Medium</option>
          <option>Large</option>
        </select>
        {% endif %}
      </div>

      <div class="product__view">
        <p>Quantity</p>
        <input type="number" id="my-quantity" value="1" min="0">
      </div>



      <!-- loops through the post and checks if the type of the product is the same as the url -->

      {% for post in site.posts %}
      {% if page.url contains post.type %}
      {% if post.main == true %}
      {% assign main_true = true %}
      {% else %}
      {% assign main_true = false %}
      {% endif %}
      <button id="{% if main_true %}my-button{% endif %}" data-item-custom2-name="{{ post.custom-name }}"
      data-item-custom2-options="{{ post.custom-options }}" class="snipcart-add-item {% if main_true %}active{% endif %}"
      data-item-id="{{ post.custom-id }}" data-item-url="http:/{{ page.url | replace:'.html','' }}" data-item-name="{{ post.title }}" data-item-price="{{ post.price }}"
      data-item-image="{{site.baseurl}}{{ post.pic-url }}" data-item-quantity="1">
      Buy now
    </button>
    {% endif %}

    {% endfor %}
  </div>
</div>
<footer>
  {% include footer.html %}

</footer>
